/calculator.c
/consonantvowel.c
/consonantvowelswitch.c
/divisible3or5.c
/divisible3or5a.c
/divisible3or5b.c
/fabonacci.c
/for.c
/greatest.c
/helloworld.c
/leapyear.c
/length.c
/naturalno.c
/palindrome.c
/pattern1.c
/pattern2.c
/pattern3.c
/pattern4.c
/patternsign.c
/reverse.c
/reverse1.c
/reverse2.c
/series.c
/squareroot.c
/sum.c
/switch.c
/table.c
/unit1.c
/upperlower.c